@using CSI_GUI.Models
@model List<StudyReportViewModel>
@{
    ViewBag.Title = "Study Report";
}
<h2>Study Report</h2>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Study Name</th>
                <th>Study Start Date</th>
                <th>Study End Date</th>
                <th>Study Arm Name</th>
                <th>Est. Revenue</th>
                <th style= "text-align:center;">Completed Apps/Total Apps</th>
            </tr>
        </thead>
        <tbody>
            <tr>Estimated Revenue </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.stuName</td>
                    <td>@Convert.ToDateTime(item.stuStartDate).ToString("MM/dd/yyyy")</td>
                    <td>@Convert.ToDateTime(item.stuEndDate).ToString("MM/dd/yyyy")</td>
                    <td>@item.sarName</td>
                    <td>$@item.TotalCost</td>
                    <td style= "text-align:center;">@item.NumberCompleted / @item.TotalApp</td>
                </tr>
            }
        </tbody>
    </table>
</div>
